<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
 <ion-list>
    <ion-item>
        <ion-avatar item-left>
            <img *ngIf="auth.authState" src="{{auth.userImage}}">
        </ion-avatar>
        <h2 *ngIf="auth.authState">{{auth.userName}}</h2>
    </ion-item>  
</ion-list>

  <ion-row>
      <button (click)="logout()" ion-button block>Log out</button>
  </ion-row>
  <ion-row> 
        <button (click)="loginWithFacebook()" ion-button block>Facebook login</button>
    </ion-row>

</ion-content>
