<ion-card *ngIf="countdown">
    <ion-item class="no-bottom-border item">
       <button ion-button 
          large full clear>{{countdown.displayDate}}
        </button>

        <button ion-button 
            large full clear class="timer-button timer-text">{{countdown.displayTime}}
        </button>

        <button ion-button
            large full clear class="days-button timer-text"> 
           {{ countdown.daysLeft }}
        </button>
    </ion-item>

    <ion-item class="no-bottom-border" *ngIf="timeInSeconds && timeInSeconds > 0">
        <button ion-button icon-left clear color="danger" 
        small (click)="initTimer()" item-left 
        *ngIf="!countdown.runTimer && (countdown.hasStarted || countdown.hasFinished) || countdown.hasFinished">
            <ion-icon name="refresh"></ion-icon>
            Reset
        </button>
        <button ion-button icon-left clear small color="primary" 
        (click)="pauseTimer()" item-right 
        *ngIf="countdown.runTimer && countdown.hasStarted && !countdown.hasFinished">
            <ion-icon name="pause"></ion-icon>
            Pause
        </button>      
        <button ion-button icon-left clear small color="primary" 
        (click)="resumeTimer()" item-right 
        *ngIf="!countdown.runTimer && countdown.hasStarted && !countdown.hasFinished">
            <ion-icon name="play"></ion-icon>
            Resume
        </button>      
        <button ion-button icon-left clear small color="primary" 
        (click)="startTimer()" item-right *ngIf="!countdown.hasStarted">
            <ion-icon name="play"></ion-icon>
            Start
        </button>            
    </ion-item>
</ion-card> 