<ion-header>

  <ion-navbar>
    <ion-title>Daily Tips by Black Jack</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>


  <ion-list>
    <ion-item>
      <ion-label>Choose city</ion-label>
      <ion-select 
        [(ngModel)]="selectedCity" 
        (ionChange)="cityChange($event)">
        <ion-option value="Yogyakarta">Yogja</ion-option>
        <ion-option value="Tilburg">Tilburg</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>


 
  <div class="weather-box">
      
      <div *ngIf="selectedCity" class="selectedCity">
        {{ selectedCity }}
      </div>


      <div *ngIf="fetchingData" class="fetching-time">
        <ion-spinner></ion-spinner>
      </div>
      <div *ngIf="correctTilburgDate && correctTilburgTime" class="weather-date">
        {{ correctTilburgDate }} {{ correctTilburgTime }}
      </div>

      <div class="correctIcon">
        <i [class]="correctIcon"></i>
      </div>
      
      <div class="showTemp" *ngIf="correctIcon">{{ showTemp }} &deg;C</div>

      <!--<div class="celsius">
        <i *ngIf="correctIcon" class="wi wi-celsius"></i>
      </div>--> 

      <div class="weather-description">
        {{ weatherDescription }}
      </div>

  </div>

  
 


</ion-content>

<!-- celsius icon:  &deg;C --> 
