<ion-header>
  <ion-navbar>
   <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h3 *ngIf="auth.authState">Hi {{auth.userName}}!</h3>
    
  <p>Get local weather (Yogjakarta en Tilburg) <br>
  Get timezones <br>
  Implement FAB --> Daily Tips by Black Jack
  </p>

  <ion-fab right bottom>
    <button ion-fab color="light" [navPush]="blackJackTips">
      <ion-icon name="bowtie"></ion-icon>
    </button>
  </ion-fab>

  <div class="time"><h3>{{time}}</h3>
    <ion-icon *ngIf="nightTime" icon-left name="moon"></ion-icon> 
    <ion-icon *ngIf="!nightTime" icon-left name="sunny"></ion-icon>  
  </div>  
  <div class="date"><p>{{correctDate}}</p></div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button 
      (click)="startTime('Europe/Amsterdam')"
      value="tilburg">
          Tilburg
      </ion-segment-button>
      <ion-segment-button 
      (click)="startTime('Asia/Jakarta')" 
      value="yogja">
          Yogja
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>

