<ion-header>
  <ion-navbar>
   <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<h3 *ngIf="auth.authState">Hi {{auth.userName}}!</h3>-->
   <connection></connection>
    
  <div *ngIf="fetchedTime" class="time">{{ correctTime }}</div>
    <div *ngIf="fetchingData" class="fetching-time">
      <ion-spinner></ion-spinner>
    </div>
  <div *ngIf="fetchedYogjaDate" class="date">{{ correctYogjaDate }}</div>
  <div *ngIf="fetchedTilburgDate" class="date">{{ correctTilburgDate }}</div>

  <ion-list>
    <ion-item>
      <ion-label>Choose city</ion-label>
      <ion-select 
        [(ngModel)]="selectedCity" 
        (ionChange)="cityChange($event)">
        <ion-option value="Asia/Jakarta">Yogja</ion-option>
        <ion-option value="Europe/Amsterdam">Tilburg</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <i [class]="correctIcon"></i> 
      <p class="showTemp" *ngIf="correctIcon">{{ showTemp }} &deg;C</p> 
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="light" [navPush]="blackJackTips">
      <ion-icon name="bowtie"></ion-icon>
    </button>
  </ion-fab>
</ion-content>