page-profile {
 .time {
        text-align: center; 
        padding-top: 10px;
        padding-bottom: 5px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .date {
        text-align: center;
        padding-bottom: 5px;
        font-weight: bold;
    }

    .city {
        text-align: center;
        padding-bottom: 25px;
        font-weight: bold;
    }

    .showTemp {
        text-align: center; 
    }

    .fetching-time {
        width: 100%;
        text-align: center;
        padding-top: 0x;
    }
}
