<ion-header>
  <ion-navbar>
      <ion-title>
         Stories
      </ion-title>
    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <ion-list>
      <ion-card
         class="story"
         text-wrap
         *ngFor="let story of stories | async">
         <ion-item>
            <h2>{{ story.title }}</h2>
            <p>{{ story.summary }}</p>


            <section class="multiples">
               <h3>Tags</h3>
	       <ion-chip
                *ngFor="let tag of story.tags"
                padding-left
                padding-right
                margin-right>{{ tag.name }}</ion-chip>
            </section>
         </ion-item>


         <div class="manage-record" padding>
            <button
               ion-button
               text-center
               color="primary"
               (click)="editStory(story)">Edit</button>

            <button
               ion-button
               text-center
               color="danger"
               (click)="deleteStory(story)">Delete</button>
         </div>
      </ion-card>
   </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="addRecord()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
